@media (max-width: 992px) {
    .tagline {
        display: none;
    }

}

@media (max-width: 768px) {
    .navbarMain {
        gap: 8px;
    }

    .app-header {
        padding: 0.6rem 1rem;
        gap: 10px;
    }


    .logoDiv h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .menu_icon {
        display: block;

    }

    .user-block {
        padding: 6px 10px;
        gap: 6px;
    }

    .icon-btn {
        width: 36px;
        height: 36px;

    }

    .user-block #welcomeText {
        font-size: 12px;

    }

    .wrapper {
        margin-top: 74px;
    }

    #navbarMainUl {
        position: absolute;
        background-color: #f9f9fb;
        top: 66px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 14px 0;
    }
}


@media (min-width: 576px) {

    .postDiv {
        max-width: 420px;
    }

    .dashboardDiv h1 {
        font-size: 22px;
    }
}



@media (min-width: 768px) {

    .dashboardDiv {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .dashboardSearchBar {
        width: auto;
        flex-wrap: nowrap;
    }

    .create-btn {
        width: auto;
    }

    .search {
        width: 220px;
    }

    .filter {
        width: 160px;
    }

    .modal-box,
    .commentModalBox {
        width: 100%;
    }


}


