@media (max-width: 992px) {
    .tagline {
        display: none;
    }

    .dashboardDiv {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .app-header {
        padding-inline: 1rem;
    }

    .menu_icon {
        display: block;

    }

    /* #navbarMainUl {
        position: absolute;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow: hidden;
        z-index: 111;
        height: 100vh;
        top: 72px;
        padding: 14px 0;
        right: 0px;
        transition: 1s;

    } */
}

