@media (max-width: 992px) {
    .tagline {
        display: none;
    }

    .dashboardDiv {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .app-header {
        padding-inline: 1rem;
    }

    #navbarMainUl {
        position: absolute;
        top: 74px;
        left: 0;
        right: 0;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        z-index: 100;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1));
        backdrop-filter: blur(10px);
        box-shadow: var(--shadow);
        border-radius: 0 0 18px 18px;
    }

}

@media (max-width: 540px) {}